* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #98bfb2;
  --color2: #b88f7b;
  --color3: #b86172;
  --color4: #686b96;
  --color5: #96688b;
  --navfoot: rgb(182, 137, 192);
  --letra: rgb(106, 103, 206);
  --letra-light: rgb(255, 253, 253);
  --title: rgb(148, 126, 195);
  --hover: rgb(249, 217, 35);
  --hover2: #FFF323;
  --color50: rgb(160, 160, 146);
}

/* Images */

.img1{
  background-image: url("img/perrotest.jpg");
  background-size: cover;
  background-position: center 60%;
  width: 100%;
  height: 50vh;
}


.img2 {
  background-image: url("img/gatorojo.jpg");
  background-size: cover;
  background-position: center 60%;
  width: 100%;
  height: 90vh;
}

.img3 {
  background-image: url("img/perrorosado.jpg");
  background-size: cover;
  background-position: center 20%;
  width: 100%;
  height: 90vh;
}

.img4 {
  background-image: url("newImgs/perromarron.jpg");
  background-size: cover;
  background-position: center 20%;
  width: 100%;
  height: 90vh;
}

.img5 {
  background-image: url("newImgs/perrojuguete.jpg");
  background-size: cover;
  background-position: center 90%;
  width: 100%;
  height: 50vh;
}

.img6{
  background-image: url("newImgs/perrodoc.jpg");
  background-size: cover;
  background-position: center 80%;
  width: 100%;
  height: 50vh;
}

.img7 {
  width: 100%;
  height: 90vh;
  object-fit:contain;
}

/*-------- FONT------- */

@font-face {
  font-family: fuenteCami;
  src: url(/fuentes/Le\ Petit.ttf);
}
h1 {
  font-family: fuenteCami;
}
h2 {
  font-family: fuenteCami;
}
p {
  font-family: fuenteCami;
  font-size: 1.2rem;
  text-align: center;
  padding: 0%;
  color: var(--letra-light);
  margin-bottom: 0;
}

.classA {
  font-family: fuenteCami;
  font-size: 1.5rem;
  color: var(--letra-light);
}


/*------ Navbar --------*/
.nav-item{
  text-align: center;
}

.classA {
  background-image: linear-gradient(
    to right,
    #d400ff88,
    #000000 50%,
    rgb(255,255,255) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.classA:before {
  content: '';
  background: var(--color1);
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.classA:hover {
  background-position: 0;
}

.classA:hover::before {
  width:100%;
}

.nav-item{
  text-align: center;
}

/*---------------- Boton De Navbar--------------*/

.boton {
  color: black !important;
  border-color: black !important;
  font-family: fuenteCami;
}

.input1{
  font-family: fuenteCami;
  background-color: rgba(255, 255, 255, 0.459) !important;
}

/*----------- ScrollBar ---------- */

.contenedor::-webkit-scrollbar {
  width: 10px;
}

.contenedor::-webkit-scrollbar-track {
  background: black;
}

.contenedor::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
  border-radius: 100px;
}

.contenedor::-webkit-scrollbar-button:single-button {
  background-color: white;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

/*------------------------Up-------------------- */
.contenedor::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
}

.contenedor::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
}
/* Down */
.contenedor::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
}

.contenedor::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
}


/*---------------CARD SPAM--------------*/

/* card efect */

.containercard {
  max-width: 100vw;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  padding: 40px 0;
}

.cardphoto {
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url("img/camilacolman.jpg");
  border-radius: 15px;
  box-shadow: 0 15px 60px rgb(0, 0, 0, 0.5);
}

.cardphotodos {
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url("img/celestemerlos.jpg");
  border-radius: 15px;
  box-shadow: 0 15px 60px rgb(0, 0, 0, 0.5);
}

.cardphototres {
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url("img/prueba.jpg");
  border-radius: 15px;
  box-shadow: 0 15px 60px rgb(0, 0, 0, 0.5);
}

.cardphotocuatro{
  position: relative;
  width: 300px;
  height: 400px;
  background-image: url("img/sofiamichel.jpg");
  border-radius: 15px;
  box-shadow: 0 15px 60px rgb(0, 0, 0, 0.5);
}
.face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.face.back{
  box-sizing: border-box;
  padding: 20px;
}

.face.back h2 {
  margin: 0;
  padding: 0;
}

.face.back .desc{
  background-color: #eee;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.face.front {
  transition: 0.5s;
}

.face.front h2 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.cardphoto:hover .face.front{
  height: 60px;
}

.cardphoto:hover .face.front h2 {
  font-size: 1em;
}

.face.front {
  background-color: #0cbaba;
  background-image: linear-gradient(315deg, #b86172 0%, #380036b2 74%);
  border-radius: 15px;
}




.mails {
  text-decoration: none;
  color: rgb(180, 28, 180);
}

/*--------------FOOTER----------------*/

footer {
  background-color: var(--color1);
}

.p-linked {
  color:var(--color5);
  text-align: center;
}
.a-linked {
  text-decoration: none;
  font-size: 1.1rem;
  color: rgb(75, 71, 71);
}
.a-linked:hover {
  color: var(--color4);
}

iframe {
  border-radius: 0.2rem;
}

.social-media a {
  color: var(--letra-light);
}
.box-foot{
  display: flex;
  justify-content: space-between;
}
.icons-footer{
  display: flex;
  justify-content: space-evenly;
}



/*---------------------QUIENES SOMOS-----------------*/

.text-intro {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}
.text-intro2 {
  width: 50%;
  text-align: center;
  color: var(--letra-light);
}

/*---------------CURSOR------------------------*/

body {
  cursor: url(./img/cursor-.png), auto;
}
.classA{
  cursor: url(./img/dogPaw2.png), auto;
}

/*---------- CSS del formulario------------- */

/* Contenedores */
.containerPadreFormulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45vw;
  height: 90vh;
}
.subcontenedorFormulario {
  width: 42vw;
  height: 86vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.247);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  border-color: white;
  border: 6px;
  border-radius: 15px;
}
.seccionFormulario {
  width: 40vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputsRadiocontainer {
  width: 16vw;
}

.containerComentario {
  width: 32vw;
  height: 18vh;
  display: flex;
  align-items: center;
}
.seccionFormulario.botones {
  width: 40vw;
  height: 16vh;
  flex-direction: row;
  justify-content: space-evenly;
}
.contenedorCampoTexto {
  height: 16vh;
  width: 20vw;
}
.campoDeTexto {
  height: 14vh;
}

/* Botones del formulario */
.btn-ghost{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 2px solid var(--hover2);
  width: 15vw;
  height: 6vh;
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  font-family: fuenteCami;
  background-color:var(--hover2);
  transition: color 0.5s, backgroun 0.5s;
}
.btn-ghost.round{
  border-radius: 30px;
}
.btn-ghost:hover{ /* AnimaciÃ³n acercando el cursor */
  color: white;
  background-color: transparent;
  border: 2px solid var(--hover2);
}
.btn-ghost:active{ /* Animacion al apretar el boton */
  box-shadow: inset 0 0 20px var(--hover2);
}
.btn-ghost.enviar{
  width: 9vw;
  height: 5vh;
  background-color: var(--hover2);
  border-color: var(--hover2);
  text-transform: uppercase;
}
.btn-ghost.enviar:hover{
  background: transparent;
  border-color: white;
}
.btn-ghost.enviar:active{
  box-shadow: inset 0 0 20px var(--hover2);
}

/* Letras del formulario */

label {
  color: white;
}
.h2Formulario {
  font-size: 1.65rem;
  color: white;
}
.pFormulario {
  color: white;
}

/*-------------CARDS---------------*/

.bg-color1 {
  background-color: var(--color1);
}

.body-prod {
  background-color: var(--color50); 

}

.scale:hover{
    transform: scale(1.1);
    transition: transform 1s;
}

/*----------------BANNER SERVICIOS------------------*/

.service, .bg-zona{
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: var(--color2);
  width: 100%;
  display: flex;
}

.service__container {
  padding: 3rem;
  justify-content: space-evenly;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.service__item {
  width: 100%;
  display: flex;
}
.bg-zona{
padding: 5rem;
align-items: center;

}

/*--------------ZONAS----------------*/

.bg-2{
  background-color: var(--color3);
}
.bloqueZona1{
  text-align: center;
  flex-direction: column;
  padding: 1rem;
}

.days {
  text-align: center;
  font-weight: 100;
  padding: 1rem;
}
.h1-zonas{
  color: var(--letra-light);
}

/*-----------------PAYMENTS--------------------*/

.payments_s{
  background-color: var(--color2);
}

.payments img {
  margin: 0.5rem;
  width: 5.5rem;
  border-radius: .5rem;
}
.p-pay{
  font-size: 1.2rem;
}
.p-mediosd{
  color: black;
  font-size: 1.3rem
}
.credit{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------------------RESPONSIVE CELULAR-----------------------------------*/

@media only screen and (max-width: 360px) {
  
  /*NAVBAR*/

  .navbar {
    background-color: var(--color5);
    z-index: 10;
  }

  /*QUIENES SOMOS?*/

  .text-intro{
    overflow: scroll;
  }
  .text-intro2{
    width: 100%;
    height: fit-content;
  }

  /*FOOTER*/

  .box-foot{
    width: 100%;
    display: table-footer-group;
  }

  .social-media{
    text-align: center;
  }
  /*SERVICES*/

  .service, .bg-zona{
    background-color: var(--color2);
    width: 100%;
  }
  
  .service__container {
   padding: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
  }
  

  /*FORMULARIO*/

  .formularioLoco{
    display: flex;
    justify-content: center;
  }

  .containerPadreFormulario{
    width: 100%;
  }
  

  .subcontenedorFormulario{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: inherit;
  }

  .seccionFormulario .botones {
    width: 40vw;
    height: 16vh;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
    
  }
  .send{
    width: 40vw;
    height: 16vh;
    position: relative;
    right: -150px;
    bottom: -36px;
    
  }
  .label{
    width: 20rem;
  }
.campoDeTexto{
  width: 15rem;
}
  .h2Formulario{
    font-size: 1rem;
    text-align: center;
    padding-top: 1.3rem;
  }
  .inputsRadiocontainer label{
    padding: 0.5rem;
  }
  .containerComentario textarea{
    width:230px;
    
  }
 
  .btn-ghost{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid var(--hover2);
    width: 23vw;
    height: 6vh;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: fuenteCami;
    background-color:var(--hover2);
    margin: 1rem;
    font-size: 14px;
    
  }
  .btn-ghost.round{
    border-radius: 40px;
  }
  .btn-ghost.enviar{
    width: 16vw;
    font-size: 14px;
  }
  
  /*PAYMENTS*/

  .payments_s{
    padding: 1rem;
    
  }
  .credit{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
  }
  .payments img {
    margin: 1rem ;
    width: 6rem;
    border-radius: .5rem;
  }

/* img */

.img1{
  background-image: url("img/img-min-wdt/perropink-min.jpg");
  background-size: cover;
  background-position: 60% 85%;
  width: 100%;
  height: 50vh;
}

.img7{
  width: 80%;
  height: 80%;
  object-fit: cover;
  right: -39px;
  bottom: -30px;
  position: relative;
  
} 
.div-img7{
  height: 360px;
  width: 100px;
}

}

/* --------------RESPONSIVE TABLET--------------- */

@media only screen and (max-width: 768px ){
  .send{
    width: 40vw;
    height: 16vh;
    position: relative;
    right: -80px;
    bottom: -36px;
    
  }
  .containerComentario textarea{
    width:220px;
    
  }
    /*NAVBAR*/

    .navbar {
      background-color: var(--color5);
      z-index: 10;
    }

}

/*-----------CARRITO---------- */


#carro {
  position: fixed;
  right: 0;
  margin-right: 4px;
  margin-top: 57px;
  color: white;
}

#cantidadcarro{
  text-align: start;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.colorStrong{
  color: #98bfb2;
}